@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary Colors */

    --darkCyan: hsl(185, 75%, 39%);
    --desaturatedBlue: hsl(229, 23%, 23%);
    --grayishBlue: hsl(227, 10%, 46%);

    /* Neutral Colors */

    --white: hsl(0, 0%, 100%);
    --darkGray: hsl(0, 0%, 59%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkCyan);
    background-size: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 100;
}

img {
    display: block;
    max-width: 100%;
}

#bg-top {
    position: absolute;
    top: -20%;
    left: -45%;
    z-index: -1;
}

#bg-bottom {
    position: absolute;
    bottom: -20%;
    right: -45%;
    z-index: -1;
}

.cardContainer {
    position: relative;
    border-radius: 10px;
    background-color: var(--white);
}

.imagesContainer {
    height: 215px;
}

/* Images Section */

#profileBanner {
    border-radius: 10px 10px 0 0;
}

#profileIcon {
    position: relative;
    top: -50px;
    left: 125px;          
    border-radius: 50%;
    border: 5px solid white;
}

/* Card Text Section */

.cardText {
    text-align: center;
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.cardText h1 {

    font-size: 18px;
    font-weight: 700;
    color: var(--desaturatedBlue);
    margin-bottom: 7.5px;
}

.cardText h1 span {
    color: var(--grayishBlue);
    font-weight: 400;
    padding-left: 5px;
}

.cardText p {
    font-weight: 400;
    font-size: 16px;
    color: var(--grayishBlue);
    margin-top: 10px;
}

/* Socials Section */

.socials {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.followers h2,
.likes h2,
.photos h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--desaturatedBlue);
}

.followers p,
.likes p,
.photos p {
    font-size: .7rem;
    letter-spacing: .2em;
    margin-top: .3rem;
    color: var(--grayishBlue);
    padding-bottom: 25px;
}   

/* Media Queries */

@media screen and (min-width: 1440px) {
    #bg-top {
        top: -80%;
        left: -20%;
    }

    #bg-bottom {
        bottom: -100%;
        right: -20%;
    }
}